%fieldset#terms_and_conditions
  %legend(align="center")
    = Spree.t(:terms_and_conditions)
  .field
    = form.check_box :terms_and_conditions
    = form.label "I accept the terms and conditions for the website"

